
h2 {
    font-size: 60px;
    left: 600px;
    font-family: Tahoma, sans-serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: center;
    white-space: nowrap;
    overflow-x: scroll;

}

h1 {
    font-size: 30em;
    left: 600px;
    font-family: Tahoma, sans-serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: center;
}



.box {
    background-color: rgba(187, 194, 255, 0.5);
    width: 100%;
    height: 80%;
    margin-left: 18%;
    position: absolute;
    top: 200px;
    z-index: -1;
}




p {
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20%;
    margin-right: 10%;
    position: static;

}

p1 {
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20%;
    margin-right: 10%;
    position: static;
    ;

}
