
 .crop-container {
  width: 100%; /* Desired width of the cropped area */
  height: 800px; /* Desired height of the cropped area */
  overflow-x:scroll; /* Hides the parts outside the container */
  overflow-y: hidden;
  max-height: 1000px;
  position: static; /* Needed for absolute positioning of the image, if used */

}
   
.cardboard1 {
    width: 200%;
    height: 200%;
    position: sticky;
    /*transform: rotate(90deg);*/
    
}

.title {
    
    font-size: 30pt;
    font-family:'baskerville old face', serif;
    color: rgb(32, 7, 0);
    bottom: 100%;
    left: 50%;
    position: absolute;
    /*transform: rotate(-90deg);*/
    
}

.text-overlay {
    position: absolute;
    bottom: 70%;
    left: 35%;
    /*transform: translate(-50%, -50%);*/
    text-align: center;
    white-space: nowrap;
}

 .crop-container2 {
  width: 100%; /* Desired width of the cropped area */
  height: 200%; /* Desired height of the cropped area */
  overflow-x:scroll; /* Hides the parts outside the container */
  overflow-y: hidden;
  max-height: 100px;
  position: absolute; /* Needed for absolute positioning of the image, if used */

}

.cardboard2 {
    width: 200%;
    height: 200%;
    position: sticky;
    /*transform: rotate(90deg);*/
    
}

.title2{
    font-size: 24pt;
    font-family:'baskerville old face', serif;
    color: rgb(32, 7, 0);
    top: -140%;
    left: 50%;
    position: absolute;
    /*transform: rotate(-90deg);*/
    
}

.bigcontainer {
    width: 100%;
    height: 2200px;
    background: rgb(229, 190, 255);
    position: sticky;
    left:0px;
    top: 0px;
    overflow-y: scroll;
    order: 3;
    
}


.header1 {
    
    font-size: 30pt;
    font-variant-caps: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content:center;
    position: sticky;
    top: 20%;

}



.clipped-image {
    width: 100%;
    height: 100%;
    
}



.box1 {
    width: 100vh;
    height: 100vh;
    background: rgba(255, 183, 225, 0.582);
    left:0px;
    top: 0px;
    position: static;

}


.deco-type {
    width: auto;
    height: 600px;
    position: absolute;
    scale: 80%;    
}

.deco-type2 {
    width: auto;
    height: 60px;
    position: absolute;
    scale: 10%;    
}

.deco-type3 {
    width: auto;
    height: 60px;
    position: absolute;
    scale: 80%;    
    left: 30%;
    top: 600px;
}

button {
  background-color: transparent;
  border: none; /* Optional: removes the default button border */
  /* Add other styles like color, padding, etc. */
  
}

ol {
    font:icon;
    font-size: 12pt;
    font-variant-caps: all-small-caps ;

    
}