.container {
    width: 800px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.second {
min-height: 400px;
background-color: coral;
}

.header {
    min-height:400px;
    background:red;
}

.square {
    background:blue;
    width:300px;
    height:300px;
    border:1px solid red;
}

.container {
  width: 200px;
  height: 100px;
  background: black;
}

.herro {
    width: 665px;
    height: 611px;
    background: rgb(52, 52, 52);
}


.triangle-topright {
      width: 0px;
      height: 0;
      border-top: 200px solid rgb(206, 39, 39);
      border-left: 200px solid transparent;
      position:absolute;
      top: 50px;
      left: 75px;
      transform: translateX();
        
    }


.triangle-left {
      width: 0px;
      height: 0px;
      scale: 280%;
      border-top: 90px solid transparent;
      border-right: 100px solid rgb(206, 39, 39);
      border-bottom: 90px solid transparent;
      position: fixed; 
      left: 440px;
      transform: translateY(-10px);

    }
  
  