
 .crop-container {
  width: 100%; /* Desired width of the cropped area */
  height: 100%; /* Desired height of the cropped area */
  overflow-x:scroll; /* Hides the parts outside the container */
  overflow-y: hidden;
  max-height: 1000px;
  position: relative; /* Needed for absolute positioning of the image, if used */
  

}
   
.cardboard1 {
    width: 200%;
    height: 200%;
    position: sticky;
    /*transform: rotate(90deg);*/
    
}

.title {
    
    font-size: 30pt;
    font-family:'baskerville old face', serif;
    color: rgb(32, 7, 0);
    bottom: 100%;
    text-align:center;
    position: relative;
    z-index: 1000;
    /*transform: rotate(-90deg);*/
    
}

.text-overlay {
    position: absolute;
    bottom: 70%;
    left: 35%;
    /*transform: translate(-50%, -50%);*/
    text-align: center;
    white-space: nowrap;
}

 .crop-container2 {
  width: fit-content; /* Desired width of the cropped area */
  height: 200%; /* Desired height of the cropped area */
  overflow-x:scroll; /* Hides the parts outside the container */
  overflow-y: hidden;
  max-height: 10rem;
  max-width: 110%;
  min-width: 100%;
  position: absolute; /* Needed for absolute positioning of the image, if used */
  margin-top: -2.6%;
  margin-left: -2%;
  margin-right: -2%;

}

.cardboard2 {
    width: 120%;
    height: 120%;
    position: sticky;
    x: 50%;
    /*transform: rotate(90deg);*/
    
}

.title2{
    font-size: 24pt;
    font-family:'baskerville old face', serif;
    color: rgb(32, 7, 0);
    top: -140%;
    left: 50%;
    position: absolute;
    /*transform: rotate(-90deg);*/
    
}

.bigcontainer {
    width: 100%;
    height: 2200px;
    background: rgb(229, 190, 255);
    position: sticky;
    left:0px;
    top: 0px;
    overflow-y: scroll;
    order: 3;
    
}


/*.header {
    margin-left: 6%;
    margin-right: 6%;


}
    */

.header1 {
    
    font-size: 30pt;
    font-variant-caps: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content:center;
    position: sticky;
    top: 20%;

}



.clipped-image {
    width: 100%;
    height: 100%;
    
}



.box1 {
    width: 100vh;
    height: 100vh;
    background: rgba(255, 183, 225, 0.582);
    left:0px;
    top: 0px;
    position: static;

}


.deco-type {
    width: auto;
    height: auto;
    position: absolute;
    scale: 80%;    
    margin-top: 20rem;
    x: 10rem;
}

.deco-type1 {
    width: auto;
    position: absolute;
    scale: 80%;
    left: 0em;
    top: 15em;
    z-index: 1;
   
    
}


.deco-type2 {
    width: auto;
    position: relative;
    scale: 15%;
    top: -35em;
    rotate: 145deg;
    left: 120px;
    filter: drop-shadow(0 -6mm 4mm rgb(91, 60, 44));

   
    
}

.deco-type3 {
    width: auto;
    position: relative;
    scale: 70%;    
    top: -1800px;
    left: 28rem;
    
}

/* Above is ELEMENTS IN P2. Below is ELEMENTS IN THEIR DESIGNATED PAGE*/

.deco-type1-1 {
    width: auto;
    position: absolute;
    scale: 80%;
    left: 0em;
    top: 15em;
    z-index: 1;
   
    
}
.deco-type2-1 {
    width: auto;
    position:absolute;
    scale: 15%;
    top: -20em;
    z-index: 1;
    left: -50em;
    filter: drop-shadow(0 6mm 4mm rgb(91, 60, 44));
    
   
    
}


button {
  background-color: transparent;
  border: none; /* Optional: removes the default button border */
  /* Add other styles like color, padding, etc. */
  
}

h1 {
    position: static;
}

h3 { /*type of deco*/
    y: static;
    x: fixed;
    text-align: center;
    letter-spacing: 0.8rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30pt;
    text-transform: uppercase;
}


h2 {
    font-family: Tahoma, Geneva, Verdana, 'Segoe UI',  sans-serif;
    font-size: 22pt;
    color: rgb(62, 48, 30);
    position: relative;
    margin-left: 40px;


}


ol {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;

}

/*ul {
    font-family: 'baskerville old face', serif;
    font-size: 12pt;
    font-variant-caps: all-small-caps ;
}
*/

ul {
    margin-left: px; /* Adjust the value as needed */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant-caps: all-small-caps;

}

.mats {
    top: 0em;
    margin-left: 50%;
    margin-right: 5%;
    padding: 10px; /* Space between the text and the border */
    background-color:rgba(255, 222, 255, 0.8);
    color: rgb(0, 0, 0);
    opacity: 1;
    position: relative;

}

.howto {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    position: relative;
    padding: 10px; /* Space between the text and the border */
    opacity: 0.8;
    background-color:  rgba(255, 222, 255, 0.8);
    color: rgb(0, 0, 0);
    opacity: 1;
    

}

.mats1 {
    top: 0;
    margin-left: 50%;
    margin-right: 5%;
    padding: 10px; /* Space between the text and the border */
    background-color:rgba(237, 207, 201, 0.8);
    color: rgb(0, 0, 0);
    opacity: 1;
    position: relative;

}

.howto1 {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    position: relative;
    top: 0%;
    padding: 10px; /* Space between the text and the border */
    opacity: 0.8;
    background-color:  rgba(237, 207, 201, 0.8);
    color: rgb(0, 0, 0);
    opacity: 1;
    

}

.mats2 {
    margin-left: 50%;
    margin-right: 5%;
    padding: 10px; /* Space between the text and the border */
    background-color: aquamarine;

}

.howto2 {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 10px; /* Space between the text and the border */
    background-color: aquamarine;

}

.deco-paper {
    width: 100%;
    height: 100%;
    position: absolute;
    scale: 120%;
    z-index: 1;
    top: 40%;
    left: 20%;
    rotate: 347deg;
    

}

.deco-paper2 {
    width: 100%;
    height: 100%;
    position: absolute;
    scale: 120%;
    z-index: 2;
    left: 65%

}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: transparent;
  color: #fff;
}
#mydivheader2 {
  padding: 10px;
  cursor: move;
  z-index: 11;
  background-color: transparent;
  color: #fff;
}


/* BACKGROUNDS

TRAD DECO*/

/* body:not(.deco-home):not(.deco-p2):not(.deco-p3-1):not(.deco-p3-2) {
    background-color: black;
    background-image: url('w and b polka dot bkgr.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    
}
    */

body:not(.deco-home):not(.deco-p2):not(.deco-p3-1):not(.deco-p3-2) {
    position: relative;
    background-color: rgb(255, 235, 255);
}

/* background layer */
body:not(.deco-home):not(.deco-p2):not(.deco-p3-1):not(.deco-p3-2)::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("w and b polka dot bkgr.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    opacity: 1; /* 👈 change this */
    z-index: -1;
}


/* p3, paper tole*/
body:not(.deco-home):not(.deco-p2):not(.deco-p3-1):not(.deco-p3-2) {
    position: relative;
    background-color: rgb(242, 191, 242);
}

/* background layer */
body:not(.deco-home):not(.deco-p2):not(.deco-p3-0):not(.deco-p3-2)::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("/deco2/rosey wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    opacity: 0.5; /* 👈 change this */
    z-index: -1;
    
}

/* p2, scantron*/
body:not(.deco-home):not(.deco-p2):not(.deco-p3-1):not(.deco-p3-2) {
    position: relative;
    background-color: rgb(242, 191, 242);
}

/* background layer */
body:not(.deco-home):not(.deco-p3-1):not(.deco-p3-0):not(.deco-p3-2)::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("/deco2/scantron\ sheet.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    opacity: 1; /* 👈 change this */
    z-index: -1;
    
    
}