
h2 {
    font-size: 60px;
    left: 600px;
    font-family: Tahoma, sans-serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: center;

}

h1 {
    font-size: 50px;
    left: 600px;
    font-family: Tahoma, sans-serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: center;
}

p {
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20%;

}

.body {
    background: rgb(187, 118, 118);
    width: 100%;
    height: 100vh;
    position: relative;
}
